html {
    height: 100%;
}

.busbackground {
    background: url('/media/7.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    top: 200px;
    /* height: calc(100vh - 164px); */
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: red;
    border: 1px solid #000;
}


.shop-now-button {
    background: white;
    color: red;
    min-width: 220px;
    border-radius: 10px;
}

li.nav-item {
    min-width: 150px;
    border-radius: 5px;
    text-align: center;
}

li.nav-item:hover,
li.nav-item:active,
li.nav-item:focus {
    color: white;
}


.nav-item:active,
.nav-item:hover,
.nav-item:focus {
    background: red;
    color: white !important;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #d86262;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.row.tophead {
    background: white;
}

footer {
    background: #000;
}

.navbar {
    padding: 5px;
    /* border-top: solid 2px rgba(0, 0, 0, 0.4); */
}


#home-link:hover,
#membership-link:hover,
#news-link:hover,
#pub-link:hover,
#sales-link:hover,
#about-link:hover {
    color: white;
}

.largeblue {
    height: 300px;
    background-color: blue;
}
.largered {
    height: 300px;
}
.largegreen {
    height: 300px;
    background-color: purple;
}

.aboutimg {
    width: 400px;
    float: left;
    margin: 20px 20px 10px 0;
}

#btntopl {
    top: 180px;
    left: 40px;
    position: absolute;
}

#main-nav {
    background-color: #000;
}


.buslogo {
    max-height: 47px;
    width: 100px;
}
.card {
    height: 100px;
}

a > .card-title {
    color: #000;
}

a {
    text-decoration: none;
}


@media (min-width: 991px) {
   h1 {
    color: red;
}}

@media (max-width: 990px) {
    h1 {
    width: 100%;
    /* left: -20%; */
    background-color: #212529;
    color: #fff;
    position: relative;
    border-radius: 5px;
    text-align: center;
}
}

.stickyside {
    position: sticky;
    top: 150px;
}

.pubimg {
    width: 100%;
}

@media (max-width: 767px) {
    .pubimg {width: 60%;
}}

/* .thirds {
    left: 20px;
    width: calc(100vw - 30px);

    height: 260px;
    background-color: lightgray;
} */

.memberbtn {
    width: 175px;
}

.memcard {
    background-color: lightgray;
}

/*  */

.sliderind {
    width: 100%;
    overflow: hidden;
  }
  
  .sliderind ul {
    list-style: none;
    position: relative;
    width: 500%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-animation: slider 20s infinite;
    -moz-animation: slider 20s infinite;
    animation: slider 20s infinite;
    transition: ease-in-out;
  }
  
  .sliderind li {
    width: 20%;
    /* height: 300px; */
    float: left;
    position: relative;
  }
  
  .sliderind img {
    width: 100%;
    height: 100%;
  }
  
  
  @-webkit-keyframes slider {
    0% {
      left: 0%;
    }
    0% {
      left: -100%;
    }
    35% {
      left: -200%;
    }
    50% {
      left: -300%;
    }
    65% {
      left: -200%;
    }
    80% {
        left: -100%;
      }
    95% {
        left: 0%;}}
  
  @-moz-keyframes slider {
    0% {
      left: 0%;
    }
    0% {
      left: -100%;
    }
    35% {
      left: -200%;
    }
    50% {
      left: -300%;
    }
    65% {
      left: -200%;
    }
    80% {
        left: -100%;
      }
    95% {
        left: 0%;}}
  
  @keyframes slider {
    0% {
      left: 0%;
    }
    0% {
      left: -100%;
    }
    35% {
      left: -200%;
    }
    50% {
      left: -300%;
    }
    65% {
      left: -200%;
    }
    80% {
        left: -100%;
      }
    95% {
        left: 0%;
}}

.card-body.pb-0.text-center {
  height: 70px;
  display: grid;
  align-content: center;
}

#imgSales,
.img-fluid.bagImg {
  height: 200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  border-radius: 0px !important;
}

#NoImgSales {
  height: 210px !important;
}

#prodDetImg {
  max-height: 330px;
  width: auto;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.btn-black {
  background: black;
  color: white;
}

#quantWidth {
  max-width: 220px !important;
}

.message-container {
  position: fixed;
  top: 70px;
  right: 16px;
  z-index: 9999;
}

.custom_toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}


.bag-notification-wrapper {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.toast {
  padding: 8px;
  background-color: #fff;
}

#secureLink {
  width: 100%;
}

