<div class="collapse navbar-collapse bg-dark text-light" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-center text-light" href="{% url 'home' %}"
                id="home-link">Home</a></li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-center text-light" href="{% url 'membership' %}"
                id="membership-link">How to join</a></li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-center text-light" href="{% url 'news' %}"
                id="news-link">News</a></li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-center text-light" href="{% url 'publications' %}"
                id="pub-link">Publications</a></li>
       
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-center text-light" href="{% url 'products' %}"
                id="sales-link">Sales</a></li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle logo-font font-weight-bold text-center text-light" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                About LOTS</a>
                
            <ul class="dropdown-menu">
                <li><a href="{% url 'about_us' %}" class="dropdown-item">About Us</a></li>
                <li><a href="{% url 'links' %}" class="dropdown-item">Links</a></li>
                <li><a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</div>