{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <meta name="description" content="London Omnibus Traction Society Website">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <!-- <link rel="stylesheet" href="{% static 'js/script.js' %}"> -->
    <script src="https://kit.fontawesome.com/9f41e2550b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer>
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>London Omnibus Traction Society {% block extra_title %}{% endblock %}</title>

</head>

<body>
    <header class="container-fluid sticky-top shadow">
        <div class="row tophead">
            <div class="col-4 col-sm-6 my-auto py-3 text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img class="d-none d-sm-block" src="{{MEDIA_URL}}logo-red.webp" height="75" width="280" alt="LOTS Logo">
                    <img class="d-block d-sm-none" src="{{MEDIA_URL}}logo-sm.webp" height="70" width="80" alt="LOTS Logo">
                </a>
            </div>
            <!--  -->
            <div class="col-8 col-sm-6 my-auto py-2 mx-0">
                <ul class="list-inline list-unstyled text-end text-lg-right my-0 mx-0">
                    <li class="list-inline-item align-middle">
                        <a href="#" onclick="droppydown()" class="text-black nav-link">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-auto py-auto">My Account</p>
                            </div>
                        </a>
                        <div id="droppydown" class="dropdown-menu border-0">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'admin' %}" class="dropdown-item">Admin</a>
                            <a href="{% url 'add_post' %}" class="dropdown-item">Add Post</a>
                            <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a href="{% url 'view_bag' %}"
                            class="{% if grand_total %}text-info font-weight-bold{% else %} text-black{% endif %} nav-link">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-auto py-auto">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">

                        {% include 'includes/mob-nav.html' %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white d-none d-lg-block">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            console.log(document.getElementById('liveToast'))
            if (document.getElementById('liveToast')) {
                document.getElementById("liveToast").style.display = "inherit";

                setTimeout(closetoast, 3000);

                function closetoast() {
                    var closeJava = document.getElementById('closeJava')
                    var addToBag = document.getElementById('liveToastBtn')
                    closeJava.classList.add('collapse')
                }
            }
        });
    </script>
    {% endblock %}
    <div class="mb-5"></div>
    <footer>
        <nav class="text-light text-center">
            <a class="text-light" href="index.html">Home |</a>
            <a class="text-light" href="about.html">About Lots |</a>
            <a class="text-light" href="membership.html">Membership |</a>
            <a class="text-light" href="information-service.html">Information Service |</a>
            <a class="text-light" href="publications.html">Publications |</a>
            <a class="text-light" href="sales.html">Sales |</a>
            <a class="text-light" href="news.html">News |</a>
            <a class="text-light" href="events.html">Events |</a>
            <a class="text-light" href="links.html">Links |</a>
            <a class="text-light" href="contact-us.html">Contact Us |</a>
            <a class="text-light" href="cookie-policy.html">Cookie Policy |</a>
            <a class="text-light" href="privacy-and-data-protection-policy.html">Privacy Policy</a>
        </nav>
        <div>
            <p class="text-light text-center">
                Copyright © London Omnibus Traction Society 2023
            </p>
        </div>
    </footer>
    <script>
        function droppydown() {
            var droppydown = document.getElementById('droppydown')
            droppydown.classList.toggle('show')
        }
    </script>
</body>

</html>