{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col mt-3">Contact Us</h1>
    </div>
    <hr>
</div>
{% if from_name %}
<div class="text-center"><h2>Thanks {{ ContactDetails.from_name }} your message has been sent.</h2></div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row justify-content-center">
                
                <div class="col-md-8">
                    <form id="form" class="form" action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="row w-100">

                                <div class="input-group mb-1">
                                    <label class="input-group-text basic-addon1 w-25 contactform" for="from_name">Name:</label>
                                    <input class="form-control" placeholder="Name" type="text" name="from_name"
                                        id="from_name" required>
                                </div>
                                <div class="input-group mb-1">
                                    <label class="input-group-text basic-addon1 w-25" for="contact_number">Phone:</label>
                                    <input type="text" class="form-control" placeholder="Phone Number"
                                        name="contact_number" id="contact_number">
                                </div>
                                <div class="input-group mb-1">
                                    <label class="input-group-text basic-addon1 w-25" for="reply_to">Email:</label>
                                    <input type="email" name="reply_to" id="reply_to" class="form-control"
                                        placeholder="Email Address" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="message_received" class="input-group-text basic-addon1 w-25">Message:</label>
                                    <textarea class="form-control" placeholder="Ask me anything" name="message_received"
                                        id="message_received" required></textarea>
                                </div>

                                <div class="text-center send-message-button">
                                    <button class="send-button btn btn-danger btn-large darken-4 center "
                                    type="submit">Send Email</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-4">
                    <p><img src="{{ MEDIA_URL }}bus-contact.webp" alt="Inside Bus Interior" class="img-fluid"></p>
                </div>
            </div>
        </div>
        <hr>

        <h2 class="text-danger">Information Service</h2>
        <p>LOTS' Information Service (available only to members).</p>
        <p>LOTS members may contact Andrew Robertson:</p>

        <p>Curry Farm, Halstead Lane, Knockholt, Sevenoaks, Kent, TN14 7EP.
            <a href="mailto:lots.info@btinternet.com">lots.info@btinternet.com</a></p>
        <p>Our archives hold information about bus routes and the vehicles that operated them throughout the
            history of London's road passenger transport.</p>
    </div>
</div>

{% endblock %}
