{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col mt-3">Sales</h1>
    </div>
    <form class="d-flex" method=POST action="{% url 'search_products' %}">
        {% csrf_token %}
        <input type="search" class="form-control me-2" aria-label="Search" placeholder="Search Products" name="searched">
        <button class="btn btn-outline-black rounded-0 mt-3" type="submit">Search</button>

    </form>
    {% if searched %}
    <h2 class="text-center mt-3">You searched for: {{ searched }} - {{ search_count }} found.</h2>
    {% else %}
    <h2 class="text-center mt-3">You forgot you write anything in the search.</h2>
    {% endif %}
    <hr>
    {% for message in messages %}
    <div class="text-danger">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for searched_product in searched_products %}
                
                {% if searched_product.quantity_remaining > 0 %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border">
                        {% if searched_product.image %}
                        <a href="{% url 'product_detail' searched_product.id %}" class="text-black text-center">
                            <img class="card-img-top img-fluid imgSales" src="{{ searched_product.image.url }}"
                                alt="Picture of {{ searched_product.name }}">{{ searched_product.name }}
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' searched_product.id %}" class="text-black text-center ">
                            <img class="card-img-top img-fluid NoImgSales" width="auto" src="{{ MEDIA_URL }}no-image.webp"
                                alt="Picture of {{ searched_product.name }}">{{ searched_product.name }}
                        </a>
                        {% endif %}

                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' searched_product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' searched_product.id %}">Delete</a>
                        </small>
                        {% endif %}
                        <div class="card-footer text-bg-danger pt-0 border-0 text-center">
                            <div class="row ">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold ">£{{ searched_product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}