{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col mt-3">Sales</h1>
    </div>
    <hr>
    {% for message in messages %}
    <div class="text-danger">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                {% if product.quantity_remaining > 0 %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" class="text-black text-center">
                            <img class="card-img-top img-fluid imgSales" src="{{ product.image.url }}"
                                alt="{{ product.name }}">{{ product.name }}
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}" class="text-black text-center ">
                            <img class="card-img-top img-fluid NoImgSales" width="auto" src="{{ MEDIA_URL }}noimage.webp"
                                alt="{{ product.name }}">{{ product.name }}
                        </a>
                        {% endif %}
                        <!-- <a href="{% url 'product_detail' product.id %}">
                            <div class="card-body pb-0 pt-0 text-center">

                                <p class="text-dark">{{ product.name }}</p>
                            </div> -->

                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                        <div class="card-footer text-bg-danger pt-0 border-0 text-center">
                            <div class="row ">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold ">£{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}